.logo{
    background-color: black;
    color: white;
    width: 30%;
    padding:10px;
    height: 100%;
    text-align: center;
}
.nav{
    background-color: pink;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.links{
    width: 60%;
    font-size: 24px;
}
.btn{
width: 10%;
}
.btn button{
    padding: 8px 15px;
    background-color: blueviolet;
    margin-left: 40px;
    font-size: 20px;
    border-radius: 15px;
}
.links ul li{
    display: inline-block;
}
.links ul li a{
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin: 0 30px;
    transition: 3s ease;
}
.links ul li a:hover{
    background-color: gold;
    color: black;
}
.hamburger a{
text-decoration: none;
font-size: 22px;
}
.hamburger{
    display: none;
}
@media screen and (max-width:768px){
    .links{
        display: none;
    }
    .hamburger{
        display: block;
    }
}